<p id="notice"><%= notice %></p>

<h1>Le Jewel Stor</h1>

<table>
  <thead>
    <tr>
      <th>Le collections</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= link_to 'Show', collection %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5><%= link_to 'Add new collection', new_collection_path %></h5>
<h5><%= link_to 'Add new jewel', new_jewel_path %></h5>