<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<div>
    <% if @collection.jewels.any? %>
    
      <h3> <%= @collection.jewels.count %> jewels in collection </h3>
      <%= render @jewels %>
    <% end %>
</div>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back To Store', collections_path %>
