
  <%= image_tag jewel.picture %><br />
  <span><%= jewel.description %></span>
  <span>$<%= jewel.price %></span>
  <span>
    <%= form_for(jewel) do |f| %>

      <!--<div class="field">-->
        
        
        
        <% if !jewel.available? %>
        <span>Unavailable</span>
        <% else %>
        <span>Available</span>
        <%= f.hidden_field :available, :value => 'false' %>
        <%= f.submit :Purchase %>
        <% end %>
     <!-- </div>-->
  
      <!--<div class="actions">-->
        
     <!-- </div>-->
  
    <% end %>
  </span>
  <br /><br /><br />