<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @jewel.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jewel.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @jewel.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @jewel.available %>
</p>

<%= link_to 'Edit', edit_jewel_path(@jewel) %> |
<%= link_to 'Back', root_url %>