<!DOCTYPE html>
<html>
<head>
  <title>Jewelry Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>19023 Jewel Street | (540) 274-3071</footer>
</body>
</html>
